$cor_primaria_v: #FF0043;
$cor_primaria_b: #FAFAFA;
$cor_primaria_C: #535353;

$bg_color_1: #100F10;
$bg_color_2: #1B1B1B;
$bg_color_3: #242424;

$cor_fonte_principal: rgba(#fff,0.96);
$cor_fonte_secundaria: rgba(#fff,0.67);
$cor_fonte_terceira: rgba(#fff,0.45);

$fonte_pequena_1: 6px;
$fonte_pequena_2: 10px;
$fonte_pequena_3: 14px;

$fonte_media_1: 16px;
$fonte_media_2: 22px;
$fonte_media_3: 28px;

$fonte_grande_1: 40px;
$fonte_grande_2: 56px;
$fonte_grande_3: 72px;